body {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

#title-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 450px;
    flex-basis: 450px;
    border-bottom: 1px solid #000;

}

#title-card h1 {
    padding: 0 60px 0;
}

#title-card h2 {
    padding: 0 60px 60px 60px;
}



.card-holder {

}

.card-holder .card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 30px;
    padding: 0;
    border: 10px solid #000;
    border-radius: 50%;
    overflow: hidden;

}
.card-holder img {
    max-width: 100px;
    height: auto;
}