@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
html, body {
    /* background-color: #fcfbfb;; */
    font-family: 'Jacques Francois', serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.name {
    background-color:#D89E9E;
    padding-top: 1.5em;
    padding: 25px;
    font-family: 'Jacques Francois';
    text-align: center;
    color: white;
}

header nav {
    margin-top: 25px;
    background-color:#1F2F3C;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #D89E9E;
    text-decoration: none;
    padding: 25px;
}
h1 {
    font-size: 45px;
    margin: 5px 0 -4px  0;
}
h2 {
    font-size: 35px;
    margin: 0;
}

#style .mireya {
    width: 85%;
    margin-top: 2em;
    margin-left: 1.5em;
    grid-column: 1/5;
    grid-row: 1/3;
}

#style {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto 15%;
    margin: 4em 15% auto 15%;

}
.msg {
    background-color: #F8E4E0;
    box-shadow: 5px 5px 10px #5c5d59;
    grid-column: 4/11;
    grid-row: 1/2;
    z-index: -1;
    padding: 20px 60px 14px 19%;
}

.about {
    color: white;
    background-color: #1F2F3C;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 8px;  
}

.home-grid p {
    padding: 60px 100px 0 50px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 6em 4em;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 250%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 400px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
footer {
    background-color: #1F2F3C;
    color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo_link {
    text-align: center;
    margin-left: -10%;
}
.logo {
    margin-bottom: -6px;
    width: 25%;
}


/* About page */

#stylemireya {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: auto 15%;
    margin: 4em 15% auto 15%;

}

#stylemireya .mireya {
    width: 110%;
    height: auto;
    margin-top: 2em;
    margin-left: 1.5em;
    grid-column: 1/4;
    grid-row: 1/3;
}

.aboutmireya {
    background-color: #F8E4E0;
    box-shadow: 5px 5px 10px #5c5d59;
    grid-column: 4/11;
    grid-row: 1/2;
    z-index: -1;
    padding: 20px 50px 0 18%;
}

#background_text h4 {
    background-color:#1F2F3C;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;

}
.about-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1.8%;
    margin-bottom: 4em;
}

.pictures img {
    width: 300px;
    height: auto;
}


/* portfolio page */

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.plans img {
    grid-column: 1;
    max-width: 12em;
    align-items: center;
    margin: 10% 0 8%  47%;
    border: 10px solid #F8E4E0;
    box-shadow: 5px 5px 10px #5c5d59;
}

.content h3 {
    font-size: 50px;
    margin-top: 15%;
}
.content h4 {
    font-size: 20px;
    margin-top: -7%;
}
.content p {
    font-size: 17px;

}

.plans .content {
    grid-column: 2;
    text-align: left;
}

h5 {
    text-align: center;  
}